p {
    font-family: $raleway;
    font-size: $small;
    font-weight: $regular;
}

h1 {
    text-align: left;
    font-family: $raleway;
    font-size: $x-large;
    ;
}

ul {
    font-family: $raleway;
    font-size: $small;
}