//Primer esquema de colores
$white: #fff;
$platinum: #E8E8E8;
$gray: #bababa;

//Segundo esquema de colores
$dark-salmon: #ee9480;
$melon: #f4baae;
$pale-pink: #fadfda;

//Tercer esquema de colores
$ball-blue: #2ab7ca;
$midle-blue: #77d1dd;
$blue-lagoon: #b1e4eb;

//cuarto esquema de colores
$onyx: #333745;
$spanish-gray: #8f9199;
$lavender-gray: #c7c8cc;

//cuarto esquema de colores
$raising-black: #221d23;
$nickel: #726f73;
$silver-chalice: #aeacaf;

//Tipografía
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;;

//Peso de fuentes
$regular: 400;
$bold: 700;

//Tamaño fuentes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
$large: 50px;
$medium: 18px;
